/*--------------------------------------------------------------------------------------------
                                          GENERAL
--------------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  color: #555;
  scroll-behavior: smooth;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #00445a;
  font-weight: 400;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #00445a;
  border: 0;
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  .row {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  .row {
    padding: 80px 30px;
  }
}

.row h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px;
  margin-bottom: 35px;
  text-align: center;
}

.row p {
  max-width: 800px;
  text-align: justify;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*--------------------------------------------------------------------------------------------
                                          HOME
--------------------------------------------------------------------------------------------*/

/*-------------
 	  Header
-------------*/

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/*----------------
      Navbar
----------------*/

.content {
  max-width: 1600px;
  margin: auto;
  padding: 0 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #1b4256;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.logo-sticky {
  font-size: 20px !important;
  transition: 0.4s linear;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list {
  font-size: 18px;
}

.menu-list li {
  list-style: none;
  padding: 20px 30px;
}

.menu-list li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-li-sticky {
  font-size: 16px !important;
}

.menu-list li:hover {
  background-color: #70AED8;
  transition: 0.4s linear;
  border-radius: 4px;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 868px) {
  .icon {
    display: block;
  }
  body.disabled {
    overflow: hidden;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #214254;
    transition: all 0.3s ease;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.3);
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

/*----------------
      Banner
----------------*/

.banner {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.banner-small {
  min-height: 50vh !important;
}

.banner .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #00445a;
  z-index: -1;
}

.banner .background-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4e5b5f;
  opacity: 0.65;
}

.banner h1 {
  font: bold 60px;
  margin-bottom: 15px;
}

.banner h3 {
  font: normal 28px;
  margin-bottom: 40px;
}

.banner a.btn {
  padding: 20px 46px;
}

@media (max-width: 800px) {
  .banner {
    min-height: 600px;
  }

  .banner h1 {
    font-size: 48px;
  }

  .banner h3 {
    font-size: 24px;
  }

  .banner a.btn {
    padding: 15px 40px;
  }
}

/*----------------------
 	  Brandbergmassiv
----------------------*/

.about {
  background-color: #fff;
}

.about .grid li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}

.about .grid li i {
  font-size: 50px;
  color: #00445a;
  margin-bottom: 25px;
}

.about .grid li h4 {
  color: #555;
  font-size: 20px;
  margin-bottom: 25px;
}

.about .grid li p {
  margin: 0;
  text-align: center;
}

@media (max-width: 1000px) {
  .about .grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
  }

  .about .grid li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .about .grid li {
    flex-basis: 100%;
  }
}

/*--------------------
 	    Überblick
---------------------*/

.gallerie {
  background-color: #f7f7f7;
}

.gallerie .grid li {
  padding: 20px;
  height: 450px;
  border-radius: 3px;

  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.gallerie .grid li.small {
  flex-basis: 40%;
}

.gallerie .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 1000px) {
  .gallerie .grid li.small,
  .gallerie .grid li.large {
    flex-basis: 100%;
  }
}

/*--------------------
 	      Name
--------------------*/

.name {
  background-color: #fff;
}

/*-------------
 	Imagemap
-------------*/

.imagemap {
  justify-content: center;
  background-color: #f7f7f7;
  text-align: center;
}

.image-fit img {
  height: 650px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

map {
  overflow: hidden;
}

/*-------------
 	  Footer
-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #124358;
  padding: 60px 0;
}

footer p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

/*--------------------------------------------------------------------------------------------
                                          DATENBANK
--------------------------------------------------------------------------------------------*/

/*-------------
 	  Layout
-------------*/

.filter-container {
  background-color: #1b4256;
  padding: 30px;
}

.filter-section {
  max-width: 960px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .filter-section {
    flex-direction: column;
  }
}

/*-------------
 	  Output
-------------*/

.resultsSection {
  padding: 50px;
  margin: 25px;
  max-width: 500px;
  border-radius: 5px;
  background: #124358;
  color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.resultsSection:hover {
  background-color: #173a4b;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

#outputDIV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

#outputDIV p {
  max-width: 800px;
  text-align: left;
  margin-bottom: 10px;
  padding: 0;
  line-height: 2;
}

#outputDIV button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #214254;
  text-align: center;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
}

#outputDIV button:hover {
  background-color: #66afdc;
  color: #fff;
  transition: 0.2s linear;
}

#resultsCountDIV {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

#resultsCountDIV p {
  padding: 20px;
  margin-bottom: 50px;
  background-color: #3f7ea1;
}

#guideDIV {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  line-height: 1.5rem;
}

.p-coll {
  flex: 50%;
  padding: 0 20px;
  text-align: justify;
}

.p-coll p {
  padding-bottom: 15px;
}

@media (max-width: 800px) {
  .p-coll {
    flex: 100%;
    padding: 0 20px;
    text-align: justify;
  }
}

.header-section {
  text-align: center;
  padding: 0 150px;
  padding-bottom: 80px;
}

@media (max-width: 800px) {
  .header-section {
    padding: 0 50px;
    padding-bottom: 80px;
  }
}

.header-section h1,
h2 {
  padding-bottom: 20px;
}

.header-section h2 {
  padding-bottom: 40px;
}

.header-section h1 {
  font-size: 28px;
}

/*-------------
 	  Filter
-------------*/

/* ---------- Select Boxes ---------- */

.selectdiv {
  position: relative;
}

/* IE11 hide native button */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .selectdiv {
    width: 100%;
  }
}

/* ---------- Filter Button ---------- */

.filter-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #58b0e0;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
}

.filter-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.filter-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.filter-btn:hover span {
  padding-right: 25px;
}

.filter-btn:hover span:after {
  opacity: 1;
  right: 0;
}

#filter-button {
  width: 100%;
}

/*--------------------------------------
          Scroll To Top Button
-------------------------------------- */

#scrollTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 97;
  border: none;
  outline: none;
  background-color: #66afdc;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

#scrollTopButton:hover {
  background-color: #1b4256;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
